@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: 'Mukta', sans-serif;
  --white: #e5eaed;
  --gray: #d1d5d8;
  --dark: #1d2225;
  --black: #15191b;
  --primary: #97da7f;
  --complementary: #303941;
  --background: #384149;
}

html {
  font-family: var(--font);
  font-size: 62, 5%;
}

body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  background-color: var(--background);
}

h1 {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 100%;
  text-transform: uppercase;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
  line-height: 100%;
}

p {
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 1.2rem;
  line-height: 100%;
  color: var(--gray);
}

button {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.9rem 1.8rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  color: var(--primary);
  background-color: var(--dark);
  box-shadow: 0rem 0.25rem var(--black);
}

@media (min-width: 280px) and (max-width: 360px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.1rem;
  }

  button {
    font-size: 1rem;
    padding: 0.8rem 1.7rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.7rem;
  }

  button {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  button {
    cursor: pointer;
  }

  button:hover {
    color: var(--dark);
    background-color: var(--primary);
    box-shadow: 0rem 0.25rem var(--dark);
  }
}
