.form {
  padding: 2rem;
  border-radius: 0.7rem;
  background-color: var(--complementary);
}

.form__container {
  margin-bottom: 2rem;
}

.form__submit:disabled {
  opacity: 0.25;
  cursor: unset;
  color: var(--dark);
  background-color: var(--gray);
}

@media (min-width: 280px) and (max-width: 360px) {
  .form {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__container {
    width: 85%;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .form__container {
    font-size: 1.2rem;
  }
}
